{
  "MARKET_DATA_ADDRESS": "{{getv "/market/data/address" "market"}}",
  "PORTFOLIO_ADDRESS": "{{getv "/portfolio/address" "portfolio"}}",
  "AUDIT_HOST": "{{getv "/audit/host" "audit"}}",
  "AUDIT_PORT": {{getv "/audit/port" "8000"}},
  "HTTP_PORT": {{getv "/http/port" "8000"}}
}
